@charset "utf-8";

/* -----------------------------------------------------------
CSS Information

 File name:      tag.css
 Author:         hira (admin)
 Style Info:     タグクラウドのスタイル色々
----------------------------------------------------------- */

/*
	01 CSS HappyLifeで使ってるスタイル
----------------------------------------------------------- */
.tag01 {
	overflow: hidden;
	margin: 10px auto 30px;
	padding: 20px 10px 10px 30px;
	text-align: center;
	line-height: 1;
	background: url(../img/tag/bg_01.gif) repeat-y center center;
}
.tag01 li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
	letter-spacing: -1px;
	font-family: "Times New Roman",Serif;
}
.tag01 li a {
	position: relative;
	top: 0px;
	left: -10px;
	z-index: 10;
	margin: 0;
	padding: 0 5px;
	color: #000;
	font-size: 1em;
	text-decoration: none;
}
#contents .tag01 li a:hover {
	text-decoration: none;
	background: white;
	position: relative;
	z-index: 50;
	color: #000;
}
.tag01 li.rank10 {
	line-height: 1.3em;
}
.tag01 li.rank10 a {
	top: -5px;
	z-index: 1;
	font-size: 2.8em;
}
.tag01 li.rank9 a {
	top: -4px;
	z-index: 2;
	font-size: 2.6em;
	color: #222;
}
.tag01 li.rank8 a {
	top: 4px;
	z-index: 3;
	font-size: 2.4em;
	color: #333;
}
.tag01 li.rank7 a {
	top: -6px;
	z-index: 4;
	font-size: 2.2em;
	color: #444;
}
.tag01 li.rank6 a {
	top: 8px;
	z-index: 5;
	font-size: 2em;
	color: #555;
}
.tag01 li.rank5 a {
	top: -5px;
	z-index: 6;
	font-size: 1.8em;
	color: #666;
}
.tag01 li.rank4 a {
	top: 6px;
	z-index: 7;
	font-size: 1.6em;
	color: #777;
}
.tag01 li.rank3 a {
	top: -4px;
	z-index: 8;
	font-size: 1.4em;
	color: #888;
}
.tag01 li.rank2 a {
	top: 8px;
	z-index: 9;
	font-size: 1.2em;
	color: #999;
}
.tag01 li.rank1 a {
	top: 0;
	z-index: 10;
	font-size: 1em;
	color: #AAA;
}
/*
	タグをより散らす為の指定
*/
.tag01 li.rank3 + li a,
.tag01 li.rank2 + li a,
.tag01 li.rank1 + li a {
	left: -25px;
	top: -5px;
}
.tag01 li.rank7 + li.rank7 a {
	top: -3px;
}
.tag01 li.rank10 + li a {
	top: 3px;
}
.tag01 li.rank10 + li + li a {
	top: -3px;
}
.tag01 li.rank10 + li + li + li a {
	top: 5px;
}

.tag01 li + li + li + li + li a {
	top: -2px;
}
